#header {
    text-align: center;
}

#press-button {
    margin: 300px 100px 100px 100px;
    font-family: 'Anton', sans-serif;
    color: white;
}

.main-page {
    background-image: url("/static/images/background/main-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.justify-content-center {
    margin-top: 35px;
}

.table {
    background-image: url("/static/images/background/felt-table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav.navbar-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#container-hand {
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: bottom;
}

#container-middle {
    margin: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#container-opponent {
    margin: 60px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: top;
}

.card {
    display: inline-block;
    height: 200px;
    width: 145px;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0;
    cursor: pointer;
}

.opponent {
    display: inline-block;
    height: 200px;
    width: 145px;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0;
    cursor: pointer;
}

.navbar-nav.navbar-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


div #card-back {
    background-image: url("/static/images/cards/back.png");
    display: block;
    height: 200px;
    width: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

div #container-stack {
    display: block;
    height: 200px;
    width: 145px;
    background-size: contain;
    background-repeat: no-repeat;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.opponent:not(:first-child) {
    margin-left: -50px;
}


svg {
    fill: #17141d;
    stroke-width: 2px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-sm {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    align-content: center;
}

.modal-content h1, h2 {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#countdown {
    color: white;
    font-family: Anton, 'sans-serif';
}

.message {
    color: white;
    font-family: Anton, 'sans-serif';
}

.validation {
    width: 100px;
    height: 50px;
    padding-top: 30px;
    text-align: center;
}