.main-page {
    background-image: url("/static/images/background/main-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.table {
    background-image: url("/static/images/background/felt-table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.opponent {
    display: flex;
    justify-content: center;
    align-items: center;
    float: top;
}

.opponent-cards {
    display: inline-block;
    height: 150px;
    width: 110px;
    border-style: solid;
    border-color: black;
    margin: 10px;
}

.game-area {
    display: block;
    margin: 20px auto 20px auto;
    float: inside;
    height: 150px;
    width: 110px;
    border-style: solid;
    border-color: black;
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    float: bottom;
}

.player-cards {
    display: inline-block;
    height: 150px;
    width: 110px;
    border-style: solid;
    border-color: black;
    margin: 10px;
}

.navbar-nav.navbar-center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.container {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
}

.card {
  display: flex;
  height: 150px;
  width: 110px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}


div #card-hand, #card-opponent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    cursor: pointer;
}

div .back {
    background-image: url("/static/images/cards/back.png");
    display: block;
    height: 250px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    padding-right: 30%;
    cursor: pointer;
}

div #card-stack {
    display: block;
    height: 300px;
    width: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    padding-right: 30%;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}
