<body class="table">
{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% block content %}

<div class="opponent">
    <div class="opponent-cards"></div>
    <div class="opponent-cards"></div>
    <div class="opponent-cards"></div>
    <div class="opponent-cards"></div>
    <div class="opponent-cards"></div>
</div>

<div class="game-area"></div>

<div class="player">
    <div class="container">
      <div class="card">
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        </svg>
        </div>
      </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="nav navbar-nav navbar-center">
        <button type="button" class="btn btn-primary">Draw a card</button>
        <button type="button" class="btn btn-secondary">End turn</button>
        <button type="button" class="btn btn-success">UNO</button>
    </div>
</nav>

{% endblock %}
</body>