<body class="table">
{% extends 'layout.html' %}

{% block head %}
    <script src="/static/manager.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="test">
        <div id="container-opponent">
        </div>

        <div class="container-middle">
            <div id="card-back"></div>
            <div id="container-stack"></div>
        </div>

        <div id="container-hand">
        </div>
    </div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="nav navbar-nav navbar-center">
        <button type="button" class="btn btn-primary">Deal cards</button>
        <button type="button" class="btn btn-secondary">End turn</button>
        <button type="button" class="btn btn-success">UNO</button>
        <button type="button" class="btn btn-danger">Reset</button>
    </div>
</nav>

    <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1 style="font-family: Anton, 'sans-serif', monospace"></h1>
  </div>

</div>

{% endblock %}
</body>