<body class="table">
{% extends 'layout.html' %}

{% block head %}
    <script src="/static/manager.js" defer></script>
{% endblock %}

{% block content %}

    <div class="test">
        <div class="back"></div>
        <button class="button" style="color: red">Reset</button>
        <button class="btn-game">FIRST DRAW</button>

        <h2 style="color: antiquewhite; padding-top: 30px;">Player 1</h2>
        <p style="color: antiquewhite">Cards of Player 1</p>
        <div id="card-hand"></div>

        <div id="card-stack"></div>
        <h2 style="color: antiquewhite; padding-top: 30px;">Player 2</h2>
        <p style="color: antiquewhite">Cards of Player 2</p>
        <div id="card-opponent"></div>
    </div>

{% endblock %}
</body>