{% extends 'layout.html' %}

{% block head %}
    <h1>Main menu</h1>
{% endblock %}

{% block content %}
    <div class="test">
        <button class="btn">Play!</button>
        <div class="random-card" data-color="{{ random_list[0] }}" data-number="{{ random_list[1] }}">
            <h3>Blue cards</h3>
            <p>There are 22 blue cards in the deck.</p>
            <div class="new-card-color"></div>
            <div class="new-card-num"></div>
        </div>
        </button>
    </div>
{% endblock %}